@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

* {
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto', 'Playfair Display', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    /* background-color: #E16C8E; */
}

.header-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.headshot-background {
    display: flex;
    justify-content: center;
    padding: 1em;
    background: 
    linear-gradient(#0A6072,#0A6072) top/100% calc(25%),
    linear-gradient(to top left,transparent 50%,#0A6072 50.4%) 0 50px/120% 75%;
    background-repeat: no-repeat;
}

#head-shot-top {
    min-width: 10em;
    max-width: 12%;
    box-shadow: 0.1em 0.2em 0.3em rgba(77, 77, 77, 0.6);
    border-radius: 8px;
}

.header-container h1 {
    font-family: 'Playfair Display';
    font-size: 2.7em;
    font-weight: 800;
}

.header-links {
    display: flex;
    justify-content: center;
    gap: 3em;
}

.header-link-icons {
    height: 45px;
    width: 45px;
    max-height: 80px;
    max-width: 80px;
}

#header-linked-in-icon {
    transform: scale(1.3);
}

#header-linked-in-icon:hover {
    filter: invert(36%) sepia(97%) saturate(868%) hue-rotate(3deg) brightness(94%) contrast(103%);
}

#header-github-icon {
    filter: invert();
}

#header-github-icon:hover{
    filter: brightness(0) saturate(100%) invert(36%) sepia(97%) saturate(868%) hue-rotate(3deg) brightness(94%) contrast(103%);
}

.about-me {
    justify-content: center;
    text-align: center;
}

.about-me h2 {
    font-family: 'Playfair Display';
    font-size: 1.7em;
    font-weight: 800;
}

.about-me p {
    font-size: 1.3em;
    padding: 0 3em;
}

.projects {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
}

.project-container-title {
    font-size: 1.7em;
    font-family: 'Playfair Display';
    font-weight: bold;
}

.project-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0em 4em 2em;
    gap: 2em;
}

.project-card {
    display: flex;
    flex-direction: column;
    padding: 1em 1em 0em;
    gap: 0.5em;

    /* background-color: #6B9FAA; */
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}

#react-motel-app-card {
    background-color: #6B9EAA;
}

#sorghum-classifier-card {
    background-color: #7BC78F;
}

#whole-node-card {
    background-color: #7A87B7;
}

#odin-project-card {
    background-color: #D47C9F;
}

#project-card a {
    padding: 1em 0em 0em;
    border: 2px solid #6B9FAA;
}

.project-screenshot {
    background-color: #6B9FAA;
    width: auto;
    height: 8rem;
    border-radius: 12px;
}

.project-title {
    font-size: 1.3rem;
    font-weight: 400;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding-top: 0.5em;
}

.project-title:hover {
    color: #FF9A39;
}

.project-card-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3em 0em 0em;
    margin-top: 1em;
    gap: 3em;
}

.project-card-icons img{
    height: 1.6em;
    width: 1.6em;
}

.project-card-icons img:hover {
    transform: scale(1.2);
}

#project-open-new-icon:hover {
    filter: invert(78%) sepia(13%) saturate(6087%) hue-rotate(332deg) brightness(101%) contrast(98%);
}

#project-github-icon {
    filter: invert();
}

#project-github-icon:hover {
    filter: brightness(0) saturate(100%) invert(78%) sepia(13%) saturate(6087%) hue-rotate(332deg) brightness(101%) contrast(98%);
}

#project-figma-icon {
    scale: 1.3;
}

#project-figma-icon:hover {
    scale: 1.3;
    filter: brightness(0) saturate(100%) invert(78%) sepia(13%) saturate(6087%) hue-rotate(332deg) brightness(101%) contrast(98%);
    transition-duration: 0.06s;
}

.project-description {
    padding: 0 2em 0;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    text-align: justify;
    line-height: 1.4em;
}

#contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1em;

    color: black;
    background-color: #0A6072;
    display: flex;
    flex: 1;
}

.contact-container h2 {
    font-family: 'Playfair Display';
    font-size: 2em;
    color: white;
}

.contact-container p {
    color: white;
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

#email {
    color: white;
    /* font-weight: bold; */
    font-size: 1.2em;
    font-family: 'Playfair Display';
}

#email:hover {
    color: #FF9A39;
}

.bottom-links {
    margin-top: 0em;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.contact-link-icons {
    height: 40px;
    width: 40px;
    max-height: 80px;
    max-width: 80px;
    padding: 1.3em;
}

#contact-github-icon:hover {
    filter: brightness(0) saturate(100%) invert(78%) sepia(13%) saturate(6087%) hue-rotate(332deg) brightness(101%) contrast(98%);
}

#contact-linked-in-icon {
    transform: scale(1.20);
    filter: invert();
}

#contact-linked-in-icon:hover {
    transform: scale(1.5);
    filter: invert(83%) sepia(13%) saturate(6087%) hue-rotate(332deg) brightness(101%) contrast(98%);
}

#head-shot-bottom {
    max-width: 12em;
    border-radius: 8px;
    box-shadow: 0.1em 0.2em 0.3em rgba(77, 77, 77, 0.6);
}


@media screen and (min-width: 200px) {

    #head-shot-top {
        min-width: 14em;
        max-width: 15em;
    }

    .about-me {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    
    #projects {
        justify-items: center;
    }

    .project-card-icons {
        display: none;
    }

    .project-card-icons img {
        display: none;
        justify-content: center;
    }

    .project-title {
        font-size: 1.5em;
    }

    .project-description {
        padding: 0 2em 0;
        color: black;
        font-size: 1.1em;
        font-weight: bold;
        text-align: center;
        line-height: 1.4em;
    }

    #contact-linked-in-icon:hover {
        transform: scale(1.2);
    }

    .bottom-links {
        padding: 1em 0em;
    }

    #head-shot-bottom {
        min-width: 17em;
        box-shadow: 0.1em 0.2em 0.3em rgba(77, 77, 77, 0.6);
    }
}


@media screen and (min-width: 800px) {

    #projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
    }

    .about-me {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .project-card-icons {
        display: none;
    }

    .project-card-icons img {
        display: none;
    }

}


@media screen and (min-width: 1024px) {

    #header-github-icon:hover {
        transform: scale(1.15);
        transition-duration: 0.06s;
    }
    
    #header-linked-in-icon:hover {
        transform: scale(1.45);
        transition-duration: 0.06s;
    }

    .about-me {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    .about-me h2 {
        font-family: 'Playfair Display';
        font-size: 2em;
        font-weight: 800;
    }

    #projects {
        display: flex;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .project-container-title{
        font-size: 2em;
    }

    .project-card-container {
        display: grid;
        margin: 0 10%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 3em;
    }

    .project-title {
        font-size: 1.6em;
        font-weight: bold;
        text-align: center;
    }

    .project-card-icons {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .project-card-icons img{
        display: flex;
        height: 36px;
        width: 36px;
    }

    .project-description {
        font-size: 1.2em;
        font-weight: 800;
        text-align: center;
        padding: 0em 1.5em 0.25em;
    }

    #contact-github-icon:hover {
        transform: scale(1.20);
        transition-duration: 0.06s;
    }
    
    #contact-linked-in-icon:hover {
        transform: scale(1.40);
        transition-duration: 0.06s;
    }
}