@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

* {
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto', 'Playfair Display', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
}

.header-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.headshot-background {
    display: flex;
    justify-content: center;
    padding: 1em;
    
    background: 
    linear-gradient(#109fbc,#109fbc) top/100% calc(25%),
    linear-gradient(to top left,transparent 50%,#109fbc 50.4%) 0 50px/120% 75%;
    background-repeat: no-repeat;
}

#head-shot-top {
    min-width: 12em;
    max-width: 15%;
    box-shadow: 0.1em 0.2em 0.3em rgba(77, 77, 77, 0.6);
}

.header-container h1 {
    font-family: 'Playfair Display';
    font-size: 2.5em;
    font-weight: 800;
}

.header-links {
    display: flex;
    justify-content: center;
    gap: 3em;
}

.header-link-icons {
    height: 40px;
    width: 40px;
    max-height: 80px;
    max-width: 80px;
}

#header-github-icon {
    filter: invert();
}

#header-github-icon:hover, #header-linked-in-icon:hover {
    filter: invert(50%) sepia(94%) saturate(415%) hue-rotate(142deg) brightness(86%) contrast(97%);
}

#header-linked-in-icon {
    transform: scale(1.3);
}

.header-container p {
    font-size: 1em;
}

#about-me {
    display: flex;
    justify-content: center;
    text-align: center;
}

#about-me h2 {
    font-family: 'Playfair Display';
    font-size: 1.7em;
    font-weight: 800;
}

#about-me p {
    padding: 0 3em;
}

.projects {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.project-container-title {
    font-size: 1.7em;
    font-family: 'Playfair Display';
    font-weight: bold;
}

.project-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0em 4em 2em;
    gap: 2em;
}

.project-card {
    display: flex;
    flex-direction: column;
    padding: 0em 2em 0em;

    font-weight: bold;

    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.project-card a {
    padding: 1em 0em 0em;
}

.project-screenshot {
    width: 75%;
    height: auto;
    border-radius: 8px;
}

.project-title {
    font-size: 1.2rem;
    font-weight: 800;
    text-decoration: none;
    color: black;
    padding-top: 0.5em;
}


#react-motel-screenshot-container {
    
}

#deep-learning-screenshot-container {

}

#songwriting-app-screenshot-container {

}

#odin-project-screenshot-container {
    
}

.project-description {
    font-size: 0.8em;
    padding: 1em 0em 0.5em;
}

.project-card-icons {
    /* display: flex;
    justify-content: center; */
    display: none;
    padding-bottom: 1em;
    gap: 3em;
}

.project-card-icons img{
    height: 1.4em;
    width: 1.4em;
}

.project-card-icons img:hover {
    transform: scale(1.2);
    transition-duration: 0.06s;
    filter: invert(50%) sepia(94%) saturate(415%) hue-rotate(142deg) brightness(86%) contrast(97%);
}


#contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1em;

    color: white;
    background-color: #109fbc;
    display: flex;
    flex: 1;
}

.contact-container h2 {
    font-family: 'Playfair Display';
    font-size: 1.8em;
}

.contact-container p {
    font-size: 1em;
}

#email {
    color: white;
    font-size: 1.1em;
}

#email:hover {
    color: black;
    font-weight: bold;
}

.bottom-links {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.contact-link-icons {
    height: 40px;
    width: 40px;
    max-height: 80px;
    max-width: 80px;
    padding: 1.3em;
}

#contact-github-icon:hover {
    transition-duration: 0.06s;
    filter: invert();
}

#contact-linked-in-icon {
    transform: scale(1.20);
    transition-duration: 0.06s;
    filter: invert();
}

#contact-linked-in-icon:hover {
    transform: scale(1.4);
    filter: none;
    transition-duration: 0.06s;
}

#headshot2 {
    max-width: 12em;
    box-shadow: 0.1em 0.2em 0.3em rgba(77, 77, 77, 0.6);
}


@media screen and (min-width: 600px) {
    
    #projects {
        justify-items: center;
    }

    .project-screenshot {
        width: auto;
        height: 8rem;
        border-radius: 12px;
    }

    .project-card-icons {
        display: none;
    }

    .project-card-icons img {
        display: flex;
        justify-content: center;
    }

    #about-me {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    #headshot2 {
        max-width: 15em;
        box-shadow: 0em 0em 0.65em rgba(0, 0, 0, 0.6);
    }
}


@media screen and (min-width: 800px) {

    #projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
    }

    .project-card-icons {
        display: none;
    }

    .project-card-icons img {
        display: none;
    }

    #about-me {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}


@media screen and (min-width: 1024px) {

    #header-github-icon:hover {
        transform: scale(1.15);
        transition-duration: 0.06s;
    }
    
    #header-linked-in-icon:hover {
        transform: scale(1.45);
        transition-duration: 0.06s;
    }

    #projects {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .project-card-container {
        display: grid;
        margin: 0 10%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 2rem;
    }

    .project-card-icons {
        display: flex;
        justify-content: center;
    }

    .project-card-icons img {
        display: flex;
    }

    #about-me {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    #contact-github-icon:hover {
        transform: scale(1.20);
        transition-duration: 0.06s;
    }
    
    #contact-linked-in-icon:hover {
        transform: scale(1.40);
        transition-duration: 0.06s;
    }

}