@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

* {
    text-decoration: none;
    font-family: 'Roboto', 'Playfair Display', sans-serif;
}

/* *, ::before, ::after {
    outline:1px solid red;
  } */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
}

.back-link {
    display: flex;
    gap: 0.5em;
    position: absolute;
    left: 1.5em;
    top: 0.5em;
    align-items: center;
    font-weight: bold;
    color: white;
}

.back-link:hover {
    filter: invert(22%) sepia(13%) saturate(6087%) hue-rotate(332deg) brightness(101%) contrast(98%);
}

.back-link img {
    height: 45px;
    width: 45px;
    max-height: 80px;
    max-width: 80px;
    filter: invert();
}

.header-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.screenshot-background {
    display: flex;
    justify-content: center;
    padding: 1em;
    background: 
    linear-gradient(#7A87B7,#7A87B7) top/100% calc(25%),
    linear-gradient(to top left,transparent 50%,#7A87B7 50.4%) 0 50px/120% 75%;
    background-repeat: no-repeat;
}

.header-container span {
    padding: 0 15%;
    font-size: small;
    font-style: italic;
}

#project-screenshot {
    max-width: 17em;
    box-shadow: 0.1em 0.2em 0.3em rgba(77, 77, 77, 0.6);
    border-radius: 8px;
}

.header-container h1 {
    font-family: 'Playfair Display';
    font-size: 1.8em;
    font-weight: 800;
}

.header-links {
    display: flex;
    justify-content: center;
    background-color: #0A6072;
    box-shadow: 0.1em 0.2em 0.3em rgba(77, 77, 77, 0.6);
    border-radius: 8px;
}

.header-links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    gap: 0.5em;
    padding: 2em;

    font-weight: bold;
    color: black;
    border: solid black 2px;
}

.header-pdf-icon {
    height: 45px;
    width: 45px;
    max-height: 80px;
    max-width: 80px;
}

.header-pdf-icon {
    transform: scale(1.1);
}

.header-links a:hover {
    background-color: #FF9A39;
}


/* Start of CSS for project tabs */
.tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: white;
    margin-left: 0%;
    margin-right: 0%;
  }

  .input {
    position: absolute;
    opacity: 0;
  }

  .label {
    width: 100%;
    padding: 20px 30px;
    background: #e5e5e5;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: #7f7f7f;
    transition: background 0.1s, color 0.1s;
  }
  
  .label:hover {
    background: #d8d8d8;
  }
  
  .label:active {
    background: #7A87B7;
  }
  
  .input:focus + .label {
    /* box-shadow: inset 0px 0px 0px 3px #2aa1c0; */
    z-index: 1;
  }
  
  .input:checked + .label {
    background: #FF9A39;
    color: black;
  }

  .panel {
    display: none;
    background: white;
    min-height: 30em;
    /* max-width: 18em; */
  }

  .panel h1 {
    text-align: center;
  }

  .panel p {
    text-align: justify;
  }
  
  .input:checked + .label + .panel {
    display: block;
  }

  #milestone2-link {
    color: #0077BB;
  }

  #milestone3-link {
    color: #CC3311;
  }

  #milestone4-link {
    color: #009988;
  }
  
  #milestone-2-title {
    color: #0077BB;
  }

  #milestone-3-title {
    color: #CC3311;
  }

  #milestone-4-title {
    color: #009988;
  }

#figma-panel img {
    max-width: 45px;
    max-height: 45px;
}

#figma-panel p {
    text-align: center;
    padding: 0.25em 0;
}

#figma-panel a {
    display: flex;
    justify-content: center;
    padding: 0.25em 0;
}

#figma-icon {
    transform: scale(1.1);
    border: solid black 1px;
    border-radius: 8px;
    box-shadow: 0.1em 0.2em 0.3em rgba(77, 77, 77, 0.6);
}

#figma-icon:hover {
    filter: brightness(0%) saturate(0%) invert(72%) sepia(30%) saturate(2515%) hue-rotate(332deg) brightness(102%) contrast(102%);
    transition: 0.1s, 0.1s;
}

@media screen and (min-width: 200px) {

    .back-link {
        display: none;
    }

    .header-links {
        justify-content: center;
        gap: 2em;
        padding: 1em;
        margin: 0 -5%;
    }
    
    .header-links a {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0.5em 1em;
        box-shadow: 0.1em 0.2em 0.3em rgba(77, 77, 77, 0.6);
        max-width: 15%;
    }

    #milestone-pdf-note {
        font-size: smaller;
        font-weight: bold;
        text-align: center;
    }

    .header-container h1 {
        font-size: 1.5em;
        padding: 0 2em;
    }

    .label {
        text-align: center;
    }
    
    .panel {
        order: 99;
        min-width: 50%;
        max-width: 80%;
        padding: 0 1em;
    }

    .panel iframe {
        justify-content: center;
        justify-self: center;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #description-panel {
        text-align: left;
        font-size: 1em;
    }

    #description-panel p {
        font-size: 1em;
        padding: 0;
        line-height: 1.5em
    }

    #description-panel, #milestone-panel {
        padding: 0;
    }

    .milestone-title {
        text-align: left;
        margin-bottom: 0.25em;
    }
    
    .milestone-text p {
        margin-top: 0;
        font-size: 1em;
        font-weight: normal;
        line-height: 1.3em;
        text-align:justify;
        word-spacing:-2px;
        color: black;
        padding: 0em;
    }

    .milestone-text p ul{
        font-weight: normal;
        color: black;
        padding: 0em;
        list-style-type: circle;
        line-height: 2em
    }
    
    .milestone-text p ul li {
        text-align: left;
        font-size: 0.7em;
        font-weight: normal;
    }

    #walkthrough-panel, #figma-panel {
        padding: 0 1em 1em;
    }
}


@media screen and (min-width: 800px) {

    .back-link {
        display: flex;
        color: white;
    }

    .header-links {
        justify-content: center;
        margin: 0 8%;
    }
    
    .header-links a {
        display: flex;
        flex-direction: column;

        font-size: medium;
        text-align: center;

        max-width: 12%;
        padding: 0.5em;
    }

    .label {
        width: auto;
    }

    .tabs {
        margin-left: auto;
        margin-right: auto;
        max-width: 700px;
    }

    .panel {
        display: none;
        background: white;
        max-height: fit-content;
        max-width: fit-content;
    }

    #description-panel p {
        font-size: 1.05em;
        padding: 0 12%;
        line-height: 1.25em
    }

    .milestone-text {
        padding: 0 10%;
    }

    .panel iframe {
        min-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}


@media screen and (min-width: 1024px) {

    .tabs {
        max-width: 700px;
    }

    #tab-1 {
        padding: 0 2em;
    }
}